# 3.1 Introduction to Pandas

**Pandas** is a powerful Python library used to store, manipulate, and analyze **tabular data** using a **DataFrame**.

---

### What is a DataFrame?

A **DataFrame** is a **2D labeled data structure**, similar to a table in a database or an Excel sheet.

- It consists of **rows and columns**
- Each row is identified by an **index**
- Each column has a **column label (name)**

---

### Key Features of a DataFrame

- Stores data in **tabular (row–column) format**
- Supports **heterogeneous data** (each column can have a different data type)
- Easy data selection, filtering, and manipulation
- Built-in support for handling missing data

---

### Structure of a DataFrame

| Index | Column 1 | Column 2 | Column 3 |
|------|----------|----------|----------|
| 0    | Data     | Data     | Data     |
| 1    | Data     | Data     | Data     |

---

### Important Points

- Pandas DataFrames are **mutable**
- Each column can contain **different types of values**
- Widely used in **data analysis and data science**

# 3.2 Working with Pandas DataFrame
 ### Key Points
 - `head()` and `tail()` are used to preview data
 - shape gives rows and columns count
 - columns returns column labels
 - DataFrame supports easy filtering and selection

In [1]:
import pandas as pd

 ### 1. Creating a DataFrame from List

In [2]:
std_data = [
    [1, 'Varun', 30, 'Male', 'Chandigarh'],
    [2, 'Aman', 25, 'Male', 'Delhi']
]

df = pd.DataFrame(
    std_data,
    columns=['stu_id', 'name', 'age', 'gender', 'city']
)

 ### 2. From Dictionary

In [27]:
data = {
    "Name": ["Amit", "Riya"],
    "Score": [185, 927]
}

df = pd.DataFrame(data)
print(df)

   Name  Score
0  Amit    185
1  Riya    927

 ### 3. From Numpy Arrays

In [28]:
import numpy as np

arr = np.array([
    [10, 20],
    [30, 40]
])

df = pd.DataFrame(arr, columns=["X", "Y"])
print(df)

    X   Y
0  10  20
1  30  40

 ### 4. Viewing Data

In [8]:
df = pd.read_csv(
    "Data/sales_data_sample.csv",
    encoding="latin1"
)

df.head()        # By default shows top 5 rows
df.head(2)       # Shows top 2 rows

df.tail()        # By default shows bottom 5 rows
df.tail(2)       # Shows bottom 2 rows

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2821,10397,34,62.24,1,2116.16,3/28/2005,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

 ### 5. Shape of DataFrame

In [9]:
df.shape         # (number_of_rows, number_of_columns)

(2823, 25)

 ### 6. Column Names

In [10]:
df.columns

Index(['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER',
       'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID',
       'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE',
       'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

 ### 7. Accessing Columns

In [14]:
df['STATUS']        # Access single column
df.STATUS           # Another way to access column

0        Shipped
1        Shipped
2        Shipped
3        Shipped
4        Shipped
          ...
2818     Shipped
2819     Shipped
2820    Resolved
2821     Shipped
2822     On Hold
Name: STATUS, Length: 2823, dtype: object

 ### 8. Accessing Multiple Columns

In [15]:
df[['CONTACTFIRSTNAME', 'CONTACTLASTNAME']]

     CONTACTFIRSTNAME CONTACTLASTNAME
0                Kwai              Yu
1                Paul         Henriot
2              Daniel        Da Cunha
3               Julie           Young
4               Julie           Brown
...               ...             ...
2818            Diego          Freyre
2819           Pirkko       Koskitalo
2820            Diego          Freyre
2821          Annette          Roulet
2822             Juri         Yoshido

[2823 rows x 2 columns]

 ### 9. Filtering Data (Conditional Selection)

In [16]:
df[df['SALES'] > 3079.44]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2,10134,41,94.74,2,3884.34,7/1/2003,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003,Shipped,4,10,2003,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
7,10188,48,100.00,1,5512.32,11/18/2003,Shipped,4,11,2003,...,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,10386,50,87.15,16,4357.50,3/1/2005,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2816,10327,37,86.74,4,3209.38,11/10/2004,Resolved,4,11,2004,...,Vinb'ltet 34,NaN,Kobenhavn,NaN,1734,Denmark,EMEA,Petersen,Jytte,Medium
2817,10337,42,97.16,5,4080.72,11/21/2004,Shipped,4,11,2004,...,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,NaN,Hernandez,Maria,Medium
2819,10373,29,100.00,1,3978.51,1/31/2005,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium

 ### 10. Data Types of Columns

In [17]:
df.dtypes

ORDERNUMBER           int64
QUANTITYORDERED       int64
PRICEEACH           float64
ORDERLINENUMBER       int64
SALES               float64
ORDERDATE            object
STATUS               object
QTR_ID                int64
MONTH_ID              int64
YEAR_ID               int64
PRODUCTLINE          object
MSRP                  int64
PRODUCTCODE          object
CUSTOMERNAME         object
PHONE                object
ADDRESSLINE1         object
ADDRESSLINE2         object
CITY                 object
STATE                object
POSTALCODE           object
COUNTRY              object
TERRITORY            object
CONTACTLASTNAME      object
CONTACTFIRSTNAME     object
DEALSIZE             object
dtype: object

 ### 11. Values of DataFrame

In [18]:
df.values

array([[10107, 30, 95.7, ..., 'Yu', 'Kwai', 'Small'],
       [10121, 34, 81.35, ..., 'Henriot', 'Paul', 'Small'],
       [10134, 41, 94.74, ..., 'Da Cunha', 'Daniel', 'Medium'],
       ...,
       [10386, 43, 100.0, ..., 'Freyre', 'Diego', 'Medium'],
       [10397, 34, 62.24, ..., 'Roulet', 'Annette', 'Small'],
       [10414, 47, 65.52, ..., 'Yoshido', 'Juri', 'Medium']], dtype=object)

 ### 12. Index Information

In [19]:
df.index
# RangeIndex(start=0, stop=n, step=1)

RangeIndex(start=0, stop=2823, step=1)

# 3.3 How to Read Data Files in Pandas (Common Parameters)
 - Pandas provides the `read_csv()` function to read data from CSV files efficiently.  
 - It supports multiple parameters to handle different file formats and data issues.

---

 ### Key Points
 - `read_csv()` is highly flexible
 - Helps clean and preprocess data while loading
 - Commonly used in Data Analytics & EDA
 - Do not use `names` when the file already has headers
 - `parse_dates` is best used for date columns like ORDERDATE
 - encoding="latin1" avoids UnicodeDecodeError
 - Always verify data using `info()` after loading

 ### 1. Common Parameters in `read_csv()`
 ### Explanation of Parameters
 - sep → Defines the delimiter (`,` , `;` , `\t`)
 - header → Row index containing column names
 - names → Assign custom column names
 - dtype → Specify data type for columns
 - na_values → Symbols treated as missing values
 - parse_dates → Automatically converts columns to date format

In [22]:
import pandas as pd

df = pd.read_csv(
    "Data/sales_data_sample.csv",
    encoding="latin1",              # Handle special characters
    sep=",",                        # Column separator
    header=0,                       # First row as column names
    na_values=["?", "NA", ""],      # Treat these as missing values
    parse_dates=["ORDERDATE"]       # Convert ORDERDATE to datetime
)

 ### 2. Converting Date Columns

In [23]:
df['ORDERDATE'] = pd.to_datetime(df['ORDERDATE'])

 ### 3. Example: Specifying Data Types

In [24]:
df = pd.read_csv(
    "Data/sales_data_sample.csv",
    encoding="latin1",
    dtype={
        "ORDERNUMBER": int,
        "QUANTITYORDERED": int,
        "PRICEEACH": float,
        "SALES": float,
        "YEAR_ID": int
    }
)

 ### 4. Renaming Columns (If Required)

In [25]:
df.columns = [
    "order_number", "quantity_ordered", "price_each", "order_line_number",
    "sales", "order_date", "status", "quarter_id", "month_id", "year_id",
    "product_line", "msrp", "product_code", "customer_name", "phone",
    "address1", "address2", "city", "state", "postal_code",
    "country", "territory", "contact_lastname", "contact_firstname",
    "deal_size"
]

 ### 5. Verifying the Data

In [26]:
df.head()
df.info()
df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_number       2823 non-null   int64
 1   quantity_ordered   2823 non-null   int64
 2   price_each         2823 non-null   float64
 3   order_line_number  2823 non-null   int64
 4   sales              2823 non-null   float64
 5   order_date         2823 non-null   object
 6   status             2823 non-null   object
 7   quarter_id         2823 non-null   int64
 8   month_id           2823 non-null   int64
 9   year_id            2823 non-null   int64
 10  product_line       2823 non-null   object
 11  msrp               2823 non-null   int64
 12  product_code       2823 non-null   object
 13  customer_name      2823 non-null   object
 14  phone              2823 non-null   object
 15  address1           2823 non-null   object
 16  address2           302 non-null    object
 17  city               2823 non-null   object
 18  state              1337 non-null   object
 19  postal_code        2747 non-null   object
 20  country            2823 non-null   object
 21  territory          1749 non-null   object
 22  contact_lastname   2823 non-null   object
 23  contact_firstname  2823 non-null   object
 24  deal_size          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

order_number           int64
quantity_ordered       int64
price_each           float64
order_line_number      int64
sales                float64
order_date            object
status                object
quarter_id             int64
month_id               int64
year_id                int64
product_line          object
msrp                   int64
product_code          object
customer_name         object
phone                 object
address1              object
address2              object
city                  object
state                 object
postal_code           object
country               object
territory             object
contact_lastname      object
contact_firstname     object
deal_size             object
dtype: object

# 3.4 Exporting Pandas DataFrames

Pandas provides multiple methods to **export DataFrames** to different file formats: CSV, Excel, JSON, etc.

---

### 1. Export to CSV
 - `df.to_csv("output.csv", index=False)`
 - `index=False` → Exclude row indices in the output file
 - Saves the DataFrame as a CSV file

---

 ### 2. Export to Excel
 - `df.to_excel("output.xlsx", index=False)`
 - Requires `openpyxl` or `xlsxwriter` library installed
 - Saves DataFrame as an Excel file

---

 ### 3. Export to JSON
 - `df.to_json("output.json", orient="records")`
 - orient="records" → Each row as a JSON object
 - Can also use `orient="columns"` or `orient="index"`

---

 #### Key Points
 - Choose format based on use case
 - Always set index=False if you don't want the index in output
 - Useful for data sharing, reporting, and storage

# 3.5 Operations on Pandas DataFrame
Pandas DataFrames support various operations like **selection, filtering, insertion, and deletion** of data.

---

 #### Key Points
 - **Selection** → `df['col']` or `df[['col1','col2']]`
 - **Filtering** → Conditional selection using boolean indexing
 - **Insertion** → `df['new_col']` = `[...]` or `df.insert()`
 - **Deletion** → `drop()` or `del`
 - Supports both row and column operations

### 1. Selection

In [31]:
df = pd.read_csv(
    "Data/sales_data_sample.csv",
    encoding="latin1"
)
df['STATUS']        # Access single column

0        Shipped
1        Shipped
2        Shipped
3        Shipped
4        Shipped
          ...
2818     Shipped
2819     Shipped
2820    Resolved
2821     Shipped
2822     On Hold
Name: STATUS, Length: 2823, dtype: object

 ### 2. Multiple Columns

In [32]:
df[['CONTACTFIRSTNAME', 'CONTACTLASTNAME']]

     CONTACTFIRSTNAME CONTACTLASTNAME
0                Kwai              Yu
1                Paul         Henriot
2              Daniel        Da Cunha
3               Julie           Young
4               Julie           Brown
...               ...             ...
2818            Diego          Freyre
2819           Pirkko       Koskitalo
2820            Diego          Freyre
2821          Annette          Roulet
2822             Juri         Yoshido

[2823 rows x 2 columns]

 ### 3. Filtering

In [33]:
df[df['SALES'] > 3079.44]

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
2,10134,41,94.74,2,3884.34,7/1/2003,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
5,10168,36,96.66,1,3479.76,10/28/2003,Shipped,4,10,2003,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
7,10188,48,100.00,1,5512.32,11/18/2003,Shipped,4,11,2003,...,"Drammen 121, PR 744 Sentrum",NaN,Bergen,NaN,N 5804,Norway,EMEA,Oeztan,Veysel,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2793,10386,50,87.15,16,4357.50,3/1/2005,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2816,10327,37,86.74,4,3209.38,11/10/2004,Resolved,4,11,2004,...,Vinb'ltet 34,NaN,Kobenhavn,NaN,1734,Denmark,EMEA,Petersen,Jytte,Medium
2817,10337,42,97.16,5,4080.72,11/21/2004,Shipped,4,11,2004,...,5905 Pompton St.,Suite 750,NYC,NY,10022,USA,NaN,Hernandez,Maria,Medium
2819,10373,29,100.00,1,3978.51,1/31/2005,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium

 ### 4. Insertion
Adding a New Column

---

 ### Tips:
 - If the list length doesn’t match the DataFrame rows, it will raise an error.
 - You can create dynamic columns using `apply()` or vectorized operations.

In [37]:
df = pd.DataFrame({
    'ORDERNUMBER': [10100, 10101, 10102],
    'QUANTITYORDERED': [30, 50, 22],
    'PRICEEACH': [100, 200, 150],
    'CUSTOMERNAME': ['John', 'Alice', 'Bob']
})

# 1️⃣ Adding a new column with a single default value
df['STATUS'] = 'Pending'

# 2️⃣ Adding a new column using a list of values
df['DISCOUNT'] = [0.1, 0.2, 0.15]  # Corresponds to each row

# 3️⃣ Adding a new column using a calculation
df['TOTALSALE'] = df['QUANTITYORDERED'] * df['PRICEEACH']

# Insert 'TAX' at 2nd position (index 1)
df.insert(1, 'TAX', [5, 10, 7])  # Example tax values per order

# Example: Adding a flag column based on sales
df['HIGH_VALUE'] = df['TOTALSALE'].apply(lambda x: 'Yes' if x > 5000 else 'No')

print(df)

   ORDERNUMBER  TAX  QUANTITYORDERED  PRICEEACH CUSTOMERNAME   STATUS  \
0        10100    5               30        100         John  Pending
1        10101   10               50        200        Alice  Pending
2        10102    7               22        150          Bob  Pending

   DISCOUNT  TOTALSALE HIGH_VALUE
0      0.10       3000         No
1      0.20      10000        Yes
2      0.15       3300         No

 ### 5. Deletion in Pandas
You can remove columns (or rows) from a DataFrame using either the drop() method or the del statement.

---

 #### Tips:
 - `drop()` is safer for multiple deletions and works well with row deletion `(axis=0)`.
 - `del` is simpler for quick single-column removal.
 - Always check your DataFrame after deletion to confirm changes.

#### Method 1: Using `drop()`
The `drop()` method is flexible and widely used.

In [38]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'ORDERNUMBER': [10100, 10101, 10102],
    'QUANTITYORDERED': [30, 50, 22],
    'PRICEEACH': [100, 200, 150],
    'CUSTOMERNAME': ['John', 'Alice', 'Bob'],
    'TAX': [5, 10, 7]
})

# 1️⃣ Delete a single column
df1 = df.drop(columns=['TAX'])
print("After dropping TAX column:\n", df1)

# 2️⃣ Delete multiple columns
df2 = df.drop(columns=['PRICEEACH', 'QUANTITYORDERED'])
print("\nAfter dropping PRICEEACH and QUANTITYORDERED:\n", df2)

# Note: By default, drop() returns a new DataFrame. Use inplace=True to modify original.
# df.drop(columns=['TAX'], inplace=True)

After dropping TAX column:
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH CUSTOMERNAME
0        10100               30        100         John
1        10101               50        200        Alice
2        10102               22        150          Bob

After dropping PRICEEACH and QUANTITYORDERED:
    ORDERNUMBER CUSTOMERNAME  TAX
0        10100         John    5
1        10101        Alice   10
2        10102          Bob    7

 #### Method 2: Using `del` Statement
You can delete a column from the DataFrame in-place using `del`.

In [40]:
# Delete the TAX column
del df['TAX']

print("After deleting TAX column using del:\n", df)

After deleting TAX column using del:
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH CUSTOMERNAME
0        10100               30        100         John
1        10101               50        200        Alice
2        10102               22        150          Bob

 ### 6. Using iloc for Row Deletion
 #### Tips:
 - `iloc` does not modify the original DataFrame; it returns a new DataFrame.
 - For in-place deletion, you would use `drop(index=...)` instead.

In [42]:
# Sample DataFrame
df = pd.DataFrame({
    'ORDERNUMBER': [10100, 10101, 10102, 10103],
    'QUANTITYORDERED': [30, 50, 22, 15],
    'PRICEEACH': [100, 200, 150, 120],
    'CUSTOMERNAME': ['John', 'Alice', 'Bob', 'Mary']
})

# Suppose we want to delete the 2nd row (index 1)
df_new = df.iloc[[0, 2, 3]]  # Keep rows with index 0, 2, 3

print("After deleting row with index 1:\n", df_new)

# Delete rows with index 1 and 3
df_new = df.iloc[[0, 2]]  # Keep rows with index 0 and 2

print("\nAfter deleting rows with index 1 and 3:\n", df_new)

After deleting row with index 1:
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH CUSTOMERNAME
0        10100               30        100         John
2        10102               22        150          Bob
3        10103               15        120         Mary

After deleting rows with index 1 and 3:
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH CUSTOMERNAME
0        10100               30        100         John
2        10102               22        150          Bob

### 7. Renaming Columns

In [43]:
df = df.rename(columns={'PRICEEACH': 'price_each'})
print(df)

   ORDERNUMBER  QUANTITYORDERED  price_each CUSTOMERNAME
0        10100               30         100         John
1        10101               50         200        Alice
2        10102               22         150          Bob
3        10103               15         120         Mary

 ### 8. Deleting a Particular Row

In [44]:
df = df.drop(2)   # Deletes the row with index 4

 ### 9. Adding a Particular Row
You can add a row using loc (if index is known):

In [47]:
df.loc[4] = [10102, 40, 150, 'Pinki']
print(df)

   ORDERNUMBER  QUANTITYORDERED  price_each CUSTOMERNAME
0        10100               30         100         John
1        10101               50         200        Alice
3        10103               15         120         Mary
4        10102               40         150        Pinki

 ### 10. Updating Values

In [49]:
# Update a single value
df.loc[2, 'PRICEEACH'] = 160  # Update Bob's PRICEEACH to 160

# Update multiple values
df.loc[[0, 2], 'CUSTOMERNAME'] = ['Jonathan', 'Robert']  # Update John → Jonathan, Bob → Robert

# update based on conditions:
# Update PRICEEACH where QUANTITYORDERED > 40
df.loc[df['QUANTITYORDERED'] > 40, 'PRICEEACH'] = 210

print(df)

   ORDERNUMBER  QUANTITYORDERED  price_each CUSTOMERNAME  PRICEEACH
0      10100.0             30.0       100.0     Jonathan        NaN
1      10101.0             50.0       200.0        Alice      210.0
3      10103.0             15.0       120.0         Mary        NaN
4      10102.0             40.0       150.0        Pinki        NaN
2          NaN              NaN         NaN       Robert      160.0

# 3.6 Reading a Large CSV File in Chunks (Pandas)
 - When working with **large CSV files**, loading the entire file into memory at once may be inefficient.  
 - Pandas provides the `chunksize` parameter to read data **in smaller chunks**.

---

 #### Use Cases
 - Handling large datasets
 - Reducing memory usage
 - Performing incremental processing (cleaning, filtering, aggregation)

---


#### Key Points
 - chunksize helps read files efficiently
 - Each chunk is a DataFrame
 - Use `pd.concat()` to merge chunks if needed

In [57]:
#chunksize=10 → Reads 10 rows at a time
#data becomes an iterator, not a DataFrame
data = pd.read_csv(
    "Data/sales_data_sample.csv",
    encoding="latin1",
    chunksize=10
)

### Iterating Over Chunks
 - Each chunk is a DataFrame
 - Useful for processing large datasets step-by-step
 - `ignore_index=True` → Resets index after concatenation
 - Converts chunked data back into one DataFrame

In [59]:
chunks = []
for chunk in data:
    print(chunk)
    chunks.append(chunk)

df = pd.concat(chunks, ignore_index=True)

    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
10        10223               37     100.00                1  3965.66
11        10237               23     100.00                7  2333.12
12        10251               28     100.00                2  3188.64
13        10263               34     100.00                2  3676.76
14        10275               45      92.83                1  4177.35
15        10285               36     100.00                6  4099.68
16        10299               23     100.00                9  2597.39
17        10309               41     100.00                5  4394.38
18        10318               46      94.74                1  4358.04
19        10329               42     100.00                1  4396.14

     ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
10   2/20/2004  Shipped       1         2     2004  ...
11    4/5/2004  Shipped       2         4     2004  ...
12   5/18/2004  Shipped       2         5     2004  ...
13   6/28/2004  Shipped       2         6     2004  ...
14   7/23/2004  Shipped       3         7     2004  ...
15   8/27/2004  Shipped       3         8     2004  ...
16   9/30/2004  Shipped       3         9     2004  ...
17  10/15/2004  Shipped       4        10     2004  ...
18   11/2/2004  Shipped       4        11     2004  ...
19  11/15/2004  Shipped       4        11     2004  ...

                    ADDRESSLINE1  ADDRESSLINE2         CITY     STATE  \
10             636 St Kilda Road       Level 3    Melbourne  Victoria
11             2678 Kingston Rd.     Suite 101          NYC        NY
12                 7476 Moss Rd.           NaN       Newark        NJ
13           25593 South Bay Ln.           NaN  Bridgewater        CT
14  67, rue des Cinquante Otages           NaN       Nantes       NaN
15           39323 Spinnaker Dr.           NaN    Cambridge        MA
16                 Keskuskatu 45           NaN     Helsinki       NaN
17        Erling Skakkes gate 78           NaN      Stavern       NaN
18              7586 Pompton St.           NaN    Allentown        PA
19       897 Long Airport Avenue           NaN          NYC        NY

   POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  DEALSIZE
10       3004  Australia      APAC        Ferguson            Peter    Medium
11      10022        USA       NaN           Frick          Michael     Small
12      94019        USA       NaN           Brown          William    Medium
13      97562        USA       NaN            King            Julie    Medium
14      44000     France      EMEA         Labrune           Janine    Medium
15      51247        USA       NaN       Hernandez            Marta    Medium
16      21240    Finland      EMEA       Karttunen            Matti     Small
17       4110     Norway      EMEA      Bergulfsen            Jonas    Medium
18      70267        USA       NaN              Yu            Kyung    Medium
19      10022        USA       NaN              Yu             Kwai    Medium

[10 rows x 25 columns]
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
20        10341               41     100.00                9  7737.93
21        10361               20      72.55               13  1451.00
22        10375               21      34.91               12   733.11
23        10388               42      76.36                4  3207.12
24        10403               24     100.00                7  2434.56
25        10417               66     100.00                2  7516.08
26        10103               26     100.00               11  5404.62
27        10112               29     100.00                1  7209.11
28        10126               38     100.00               11  7329.06
29        10140               37     100.00               11  7374.10

     ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
20  11/24/2004   Shipped       4        11     2004  ...
21  12/17/2004   Shipped       4        12     2004  ...
22    2/3/2005   Shipped       1         2     2005  ...
23    3/3/2005   Shipped       1         3     2005  ...
24    4/8/2005   Shipped       2         4     2005  ...
25   5/13/2005  Disputed       2         5     2005  ...
26   1/29/2003   Shipped       1         1     2003  ...
27   3/24/2003   Shipped       1         3     2003  ...
28   5/28/2003   Shipped       2         5     2003  ...
29   7/24/2003   Shipped       3         7     2003  ...

                               ADDRESSLINE1  ADDRESSLINE2         CITY STATE  \
20                              Geislweg 14           NaN     Salzburg   NaN
21  Monitor Money Building, 815 Pacific Hwy       Level 6    Chatswood   NSW
22             67, rue des Cinquante Otages           NaN       Nantes   NaN
23                        1785 First Street           NaN  New Bedford    MA
24             Berkeley Gardens 12  Brewery           NaN    Liverpool   NaN
25                       C/ Moralzarzal, 86           NaN       Madrid   NaN
26                   Erling Skakkes gate 78           NaN      Stavern   NaN
27                          Berguvsvgen  8           NaN         Lule   NaN
28                           C/ Araquil, 67           NaN       Madrid   NaN
29                        9408 Furth Circle           NaN   Burlingame    CA

   POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
20       5020    Austria      EMEA           Pipps            Georg    Large
21       2067  Australia      APAC          Huxley           Adrian    Small
22      44000     France      EMEA         Labrune           Janine    Small
23      50553        USA       NaN         Benitez          Violeta   Medium
24    WX1 6LT         UK      EMEA           Devon        Elizabeth    Small
25      28034      Spain      EMEA          Freyre            Diego    Large
26       4110     Norway      EMEA      Bergulfsen            Jonas   Medium
27   S-958 22     Sweden      EMEA        Berglund        Christina    Large
28      28023      Spain      EMEA          Sommer           Mart¡n    Large
29      94217        USA       NaN          Hirano             Juri    Large

[10 rows x 25 columns]
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
30        10150               45        100                8  10993.50
31        10163               21        100                1   4860.24
32        10174               34        100                4   8014.82
33        10183               23        100                8   5372.57
34        10194               42        100               11   7290.36
35        10206               47        100                6   9064.89
36        10215               35        100                3   6075.30
37        10228               29        100                2   6463.23
38        10245               34        100                9   6120.34
39        10258               32        100                6   7680.64

     ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
30   9/19/2003  Shipped       3         9     2003  ...
31  10/20/2003  Shipped       4        10     2003  ...
32   11/6/2003  Shipped       4        11     2003  ...
33  11/13/2003  Shipped       4        11     2003  ...
34  11/25/2003  Shipped       4        11     2003  ...
35   12/5/2003  Shipped       4        12     2003  ...
36   1/29/2004  Shipped       1         1     2004  ...
37   3/10/2004  Shipped       1         3     2004  ...
38    5/4/2004  Shipped       2         5     2004  ...
39   6/15/2004  Shipped       2         6     2004  ...

                            ADDRESSLINE1  ADDRESSLINE2            CITY  \
30  Bronz Sok., Bronz Apt. 3/6 Tesvikiye           NaN       Singapore
31                      5905 Pompton St.     Suite 750             NYC
32                31 Duncan St. West End           NaN  South Brisbane
33                      782 First Street           NaN    Philadelphia
34                    2, rue du Commerce           NaN            Lyon
35                          1900 Oak St.           NaN       Vancouver
36                     3675 Furth Circle           NaN         Burbank
37                        4658 Baden Av.           NaN       Cambridge
38              567 North Pendale Street           NaN       New Haven
39                        2-2-8 Roppongi           NaN       Minato-ku

         STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME  \
30         NaN      79903  Singapore     Japan       Natividad
31          NY      10022        USA       NaN       Hernandez
32  Queensland       4101  Australia      APAC        Calaghan
33          PA      71270        USA       NaN       Cervantes
34         NaN      69004     France      EMEA         Saveley
35          BC    V3F 2K1     Canada       NaN       Tannamuri
36          CA      94019        USA       NaN        Thompson
37          MA      51247        USA       NaN           Tseng
38          CT      97823        USA       NaN          Murphy
39       Tokyo   106-0032      Japan     Japan       Shimamura

   CONTACTFIRSTNAME DEALSIZE
30             Eric    Large
31            Maria   Medium
32             Tony    Large
33        Francisca   Medium
34             Mary    Large
35            Yoshi    Large
36            Steve   Medium
37            Kyung   Medium
38           Leslie   Medium
39            Akiko    Large

[10 rows x 25 columns]
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
40        10270               21        100                9   4905.39
41        10280               34        100                2   8014.82
42        10291               37        100               11   7136.19
43        10304               47        100                6  10172.70
44        10312               48        100                3  11623.70
45        10322               40        100                1   6000.40
46        10333               26        100                3   3003.00
47        10347               30        100                1   3944.70
48        10357               32        100               10   5691.84
49        10369               41        100                2   4514.92

     ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
40   7/19/2004  Shipped       3         7     2004  ...
41   8/17/2004  Shipped       3         8     2004  ...
42    9/8/2004  Shipped       3         9     2004  ...
43  10/11/2004  Shipped       4        10     2004  ...
44  10/21/2004  Shipped       4        10     2004  ...
45   11/4/2004  Shipped       4        11     2004  ...
46  11/18/2004  Shipped       4        11     2004  ...
47  11/29/2004  Shipped       4        11     2004  ...
48  12/10/2004  Shipped       4        12     2004  ...
49   1/20/2005  Shipped       1         1     2005  ...

                               ADDRESSLINE1  ADDRESSLINE2           CITY  \
40  Monitor Money Building, 815 Pacific Hwy       Level 6      Chatswood
41                      Via Monte Bianco 34           NaN         Torino
42                             ?kergatan 24           NaN          Boras
43                   67, avenue de l'Europe           NaN     Versailles
44                          5677 Strong St.           NaN     San Rafael
45                 2304 Long Airport Avenue           NaN         Nashua
46                5557 North Pendale Street           NaN  San Francisco
47                        636 St Kilda Road       Level 3      Melbourne
48                          5677 Strong St.           NaN     San Rafael
49                         7825 Douglas Av.           NaN     Brickhaven

       STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
40       NSW       2067  Australia      APAC          Huxley           Adrian
41       NaN      10100      Italy      EMEA         Accorti            Paolo
42       NaN   S-844 67     Sweden      EMEA         Larsson            Maria
43       NaN      78000     France      EMEA          Tonini           Daniel
44        CA      97562        USA       NaN          Nelson          Valarie
45        NH      62005        USA       NaN           Young          Valarie
46        CA        NaN        USA       NaN          Murphy            Julie
47  Victoria       3004  Australia      APAC        Ferguson            Peter
48        CA      97562        USA       NaN          Nelson          Valarie
49        MA      58339        USA       NaN          Nelson            Allen

   DEALSIZE
40   Medium
41    Large
42    Large
43    Large
44    Large
45   Medium
46   Medium
47   Medium
48   Medium
49   Medium

[10 rows x 25 columns]
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER     SALES  \
50        10381               36     100.00                3   8254.80
51        10391               24     100.00                4   2416.56
52        10411               23     100.00                9   4140.23
53        10424               50     100.00                6  12001.00
54        10107               39      99.91                5   3896.49
55        10120               29      96.34                3   2793.86
56        10134               27     100.00                5   3307.77
57        10145               37     100.00                9   5192.95
58        10159               37     100.00               17   5016.83
59        10168               27     100.00                4   3660.93

     ORDERDATE      STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
50   2/17/2005     Shipped       1         2     2005  ...
51    3/9/2005     Shipped       1         3     2005  ...
52    5/1/2005     Shipped       2         5     2005  ...
53   5/31/2005  In Process       2         5     2005  ...
54   2/24/2003     Shipped       1         2     2003  ...
55   4/29/2003     Shipped       2         4     2003  ...
56    7/1/2003     Shipped       3         7     2003  ...
57   8/25/2003     Shipped       3         8     2003  ...
58  10/10/2003     Shipped       4        10     2003  ...
59  10/28/2003     Shipped       4        10     2003  ...

                     ADDRESSLINE1  ADDRESSLINE2           CITY     STATE  \
50                7734 Strong St.           NaN  San Francisco        CA
51              201 Miller Street      Level 15   North Sydney       NSW
52             43 rue St. Laurent           NaN       Montreal    Quebec
53             C/ Moralzarzal, 86           NaN         Madrid       NaN
54        897 Long Airport Avenue           NaN            NYC        NY
55              636 St Kilda Road       Level 3      Melbourne  Victoria
56  27 rue du Colonel Pierre Avia           NaN          Paris       NaN
57             78934 Hillside Dr.           NaN       Pasadena        CA
58                7734 Strong St.           NaN  San Francisco        CA
59              9408 Furth Circle           NaN     Burlingame        CA

   POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
50        NaN        USA       NaN           Brown            Julie    Large
51       2060  Australia      APAC          O'Hara             Anna    Small
52    H1J 1C3     Canada       NaN       Fresnisre             Jean   Medium
53      28034      Spain      EMEA          Freyre            Diego    Large
54      10022        USA       NaN              Yu             Kwai   Medium
55       3004  Australia      APAC        Ferguson            Peter    Small
56      75508     France      EMEA        Da Cunha           Daniel   Medium
57      90003        USA       NaN           Young            Julie   Medium
58        NaN        USA       NaN           Brown            Julie   Medium
59      94217        USA       NaN          Hirano             Juri   Medium

[10 rows x 25 columns]
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
60        10180               42     100.00               12  4695.60
61        10188               38      96.34                4  3660.92
62        10201               24     100.00                5  3025.92
63        10210               23     100.00                2  3009.09
64        10223               47     100.00                4  5422.39
65        10236               22     100.00                1  2852.08
66        10251               44     100.00                5  5756.52
67        10263               40     100.00                5  4472.00
68        10275               22     100.00                4  2904.44
69        10285               47     100.00                9  6484.59

     ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
60  11/11/2003  Shipped       4        11     2003  ...
61  11/18/2003  Shipped       4        11     2003  ...
62   12/1/2003  Shipped       4        12     2003  ...
63   1/12/2004  Shipped       1         1     2004  ...
64   2/20/2004  Shipped       1         2     2004  ...
65    4/3/2004  Shipped       2         4     2004  ...
66   5/18/2004  Shipped       2         5     2004  ...
67   6/28/2004  Shipped       2         6     2004  ...
68   7/23/2004  Shipped       3         7     2004  ...
69   8/27/2004  Shipped       3         8     2004  ...

                                ADDRESSLINE1  ADDRESSLINE2           CITY  \
60                   184, chausse de Tournai           NaN          Lille
61               Drammen 121, PR 744 Sentrum           NaN         Bergen
62                 5557 North Pendale Street           NaN  San Francisco
63  Dojima Avanza 4F, 1-6-20 Dojima, Kita-ku           NaN          Osaka
64                         636 St Kilda Road       Level 3      Melbourne
65                         11328 Douglas Av.           NaN   Philadelphia
66                             7476 Moss Rd.           NaN         Newark
67                       25593 South Bay Ln.           NaN    Bridgewater
68              67, rue des Cinquante Otages           NaN         Nantes
69                       39323 Spinnaker Dr.           NaN      Cambridge

       STATE POSTALCODE    COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME  \
60       NaN      59000     France      EMEA           Rance          Martine
61       NaN     N 5804     Norway      EMEA          Oeztan           Veysel
62        CA        NaN        USA       NaN          Murphy            Julie
63     Osaka   530-0003      Japan     Japan         Kentary             Mory
64  Victoria       3004  Australia      APAC        Ferguson            Peter
65        PA      71270        USA       NaN       Hernandez             Rosa
66        NJ      94019        USA       NaN           Brown          William
67        CT      97562        USA       NaN            King            Julie
68       NaN      44000     France      EMEA         Labrune           Janine
69        MA      51247        USA       NaN       Hernandez            Marta

   DEALSIZE
60   Medium
61   Medium
62   Medium
63   Medium
64   Medium
65    Small
66   Medium
67   Medium
68    Small
69   Medium

[10 rows x 25 columns]
    ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
70        10298               39      96.34                1  3757.26
71        10308               34     100.00                2  4043.96
72        10318               45     100.00                4  5566.50
73        10329               20     100.00                2  3176.00
74        10339               40      68.92                4  2756.80
75        10361               26      51.15                8  1329.90
76        10374               39     100.00                5  5288.01
77        10388               50      44.51                5  2225.50
78        10402               45     100.00                1  5833.80
79        10417               45     100.00                5  5887.35

     ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
70   9/27/2004   Shipped       3         9     2004  ...
71  10/15/2004   Shipped       4        10     2004  ...
72   11/2/2004   Shipped       4        11     2004  ...

# 3.7. Handling Missing Values in Pandas
 - Missing values in Pandas are usually represented as **NaN (Not a Number)**.  
 - Pandas provides powerful methods to **remove or replace missing data**.

---

 #### Key Points
 - `dropna()` → removes missing data
 - `fillna()` → replaces missing data
 - `ffill` / `bfill` useful for time-series data
 - Use `inplace=True` to modify original DataFrame
 - Always inspect missing values before handling

In [60]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["Amit", "Riya", None, "Pinki", None],
    "Age": [25, None, 30, None, 28],
    "City": ["Delhi", None, "Mumbai", None, None],
    "Score": [85, 90, None, None, None]
})

print(df)

    Name   Age    City  Score
0   Amit  25.0   Delhi   85.0
1   Riya   NaN    None   90.0
2   None  30.0  Mumbai    NaN
3  Pinki   NaN    None    NaN
4   None  28.0    None    NaN

 ### 1. `dropna()` – Remove Missing Values
 - Drop Rows with Any Missing Value (Default)
 - Drops the entire row if any column has NaN

In [62]:
df.dropna()

   Name   Age   City  Score
0  Amit  25.0  Delhi   85.0

 ### a). Drop Columns with Missing Values
 ✔ Removes columns containing NaN

In [63]:
df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

 ### b). Drop Rows with Any Missing Value
 ✔ Keeps row if at least one value exists

In [64]:
df.dropna(how="any")

   Name   Age   City  Score
0  Amit  25.0  Delhi   85.0

 ### c). Drop Rows Only If All Values Are Missing
 ✔ Drops rows where Name is NaN

In [65]:
df.dropna(subset=["Name"])

    Name   Age   City  Score
0   Amit  25.0  Delhi   85.0
1   Riya   NaN   None   90.0
3  Pinki   NaN   None    NaN

 ### d). Drop Missing Values In-place
✔ Modifies original DataFrame

In [66]:
# df.dropna(inplace=True)

 ## e). Drop Rows with Minimum Non-NaN Values (thresh)
 ✔ Keeps rows having at least 2 non-null values

In [67]:
df.dropna(thresh=2)

   Name   Age    City  Score
0  Amit  25.0   Delhi   85.0
1  Riya   NaN    None   90.0
2  None  30.0  Mumbai    NaN

 ### 2. `fillna()` – Fill Missing Values
Fill All NaN with a Value

In [68]:
df.fillna(0)

    Name   Age    City  Score
0   Amit  25.0   Delhi   85.0
1   Riya   0.0       0   90.0
2      0  30.0  Mumbai    0.0
3  Pinki   0.0       0    0.0
4      0  28.0       0    0.0

 ### a). Fill with String Value

In [69]:
df.fillna("null")

    Name   Age    City Score
0   Amit  25.0   Delhi  85.0
1   Riya  null    null  90.0
2   null  30.0  Mumbai  null
3  Pinki  null    null  null
4   null  28.0    null  null

### b). Fill Specific Column

In [70]:
df["City"].fillna("Unknown")

0      Delhi
1    Unknown
2     Mumbai
3    Unknown
4    Unknown
Name: City, dtype: object

 ### c). Forward Fill (ffill)
 ✔ Fills NaN with previous value

In [71]:
df.fillna(method="ffill")

C:\Users\chavi\AppData\Local\Temp\ipykernel_28284\3944122520.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="ffill")

    Name   Age    City  Score
0   Amit  25.0   Delhi   85.0
1   Riya  25.0   Delhi   90.0
2   Riya  30.0  Mumbai   90.0
3  Pinki  30.0  Mumbai   90.0
4  Pinki  28.0  Mumbai   90.0

 ### d). Backward Fill (bfill)
 ✔ Fills NaN with next value

In [72]:
df.fillna(method="bfill")

C:\Users\chavi\AppData\Local\Temp\ipykernel_28284\3896554658.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill")

    Name   Age    City  Score
0   Amit  25.0   Delhi   85.0
1   Riya  30.0  Mumbai   90.0
2  Pinki  30.0  Mumbai    NaN
3  Pinki  28.0    None    NaN
4   None  28.0    None    NaN

 ### e). Fill In-place

In [73]:
 # df.fillna(0, inplace=True)

 ### f). Limit Filling
 ✔ Fills only first 2 NaN values

In [74]:
df.fillna("null", limit=2)

    Name   Age    City Score
0   Amit  25.0   Delhi  85.0
1   Riya  null    null  90.0
2   null  30.0  Mumbai  null
3  Pinki  null    null  null
4   null  28.0    None   NaN

# 3.8 Aggregating Data in Pandas
 - Aggregation in Pandas is used to **summarize data** using functions like sum, mean, min, max, etc.  
 - The most commonly used method is **`groupby()`**.

---

 #### Key Points
 - `groupby()` splits data into groups
 - Aggregation functions summarize each group
 - `agg()` allows multiple aggregations at once
 - Common functions: `sum()`, `mean()`, `min()`, `max()`, `count()`

In [75]:
df = pd.DataFrame({
    "Name": ["Amit", "Amit", "Riya", "Riya", "Pinki", "Pinki"],
    "Dept": ["IT", "IT", "HR", "HR", "Sales", "Sales"],
    "Salary": [50000, 52000, 45000, 47000, 40000, 42000]
})

print(df)

    Name   Dept  Salary
0   Amit     IT   50000
1   Amit     IT   52000
2   Riya     HR   45000
3   Riya     HR   47000
4  Pinki  Sales   40000
5  Pinki  Sales   42000

 ### 1. GroupBy

In [79]:
grp = df.groupby("Name")
print(grp)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000002056E15AEA0>

 ##### Iterating Through Groups

In [80]:
for x, y in grp:
    print(x)
    print(y)

Amit
   Name Dept  Salary
0  Amit   IT   50000
1  Amit   IT   52000
Pinki
    Name   Dept  Salary
4  Pinki  Sales   40000
5  Pinki  Sales   42000
Riya
   Name Dept  Salary
2  Riya   HR   45000
3  Riya   HR   47000

 ### 2. Basic Aggregation Functions

In [82]:
#Sum
add = grp["Salary"].sum()
print(add)

#Mean
avg = grp["Salary"].mean()
print(avg)

#Max
maxi = grp["Salary"].max()
print(maxi)

#Min
mini = grp["Salary"].min()
print(mini)

Name
Amit     102000
Pinki     82000
Riya      92000
Name: Salary, dtype: int64
Name
Amit     51000.0
Pinki    41000.0
Riya     46000.0
Name: Salary, dtype: float64
Name
Amit     52000
Pinki    42000
Riya     47000
Name: Salary, dtype: int64
Name
Amit     50000
Pinki    40000
Riya     45000
Name: Salary, dtype: int64

### 3. Getting a Specific Group

In [83]:
grp.get_group("Amit")

   Name Dept  Salary
0  Amit   IT   50000
1  Amit   IT   52000

 ### 4. Aggregation on Entire DataFrame

In [85]:
print(df["Salary"].sum())
print(df["Salary"].mean())
print(df["Salary"].min())
print(df["Salary"].max())

276000
46000.0
40000
52000

 ### 5. GroupBy with Column Selection
  ###### Explanation
 - Groups data by Dept
 - Selects the Salary column
 - Calculates mean salary for each department

In [86]:
df.groupby("Dept")["Salary"].mean()

Dept
HR       46000.0
IT       51000.0
Sales    41000.0
Name: Salary, dtype: float64

 ### 6. Multiple Aggregations Using `agg()`
 #### Explanation
 - Groups data by Dept
 - Applies multiple aggregation functions on Salary

In [87]:
df.groupby("Dept").agg({
    "Salary": ["mean", "sum", "count"]
})

        Salary
          mean     sum count
Dept
HR     46000.0   92000     2
IT     51000.0  102000     2
Sales  41000.0   82000     2

# 3.9 Melt (Reshaping Data)
The `pandas.melt()` function is used to reshape a DataFrame from a wide format to a long format. It essentially "unpivots" columns into rows, making the data easier for analysis and visualization, especially when dealing with multiple columns that represent the same type of variable. 
 - melt() → Wide → Long format

In [88]:
df = pd.DataFrame({
    "Day": ["Mon", "Tue", "Wed"],
    "Sales_A": [100, 120, 130],
    "Sales_B": [90, 110, 140]
})

print(df)

   Day  Sales_A  Sales_B
0  Mon      100       90
1  Tue      120      110
2  Wed      130      140

 ### Melt Operation
✔ Converts wide format → long format

In [90]:
melted = pd.melt(
    df,
    id_vars=["Day"],
    value_vars=["Sales_A", "Sales_B"],
    var_name="Store",
    value_name="Sales"
)

print(melted)

   Day    Store  Sales
0  Mon  Sales_A    100
1  Tue  Sales_A    120
2  Wed  Sales_A    130
3  Mon  Sales_B     90
4  Tue  Sales_B    110
5  Wed  Sales_B    140

 # 3.10 Pivot (Reshaping Back)
 In pandas, the `pivot()` function is used to reshape a DataFrame by transforming unique values from rows into columns, creating a "wide" data format. The more versatile `pivot_table()` function is a generalization that also allows for data aggregation and handles duplicate entries. 
 - `pivot()` → Long → Wide (no aggregation)
 - `pivot_table()` → Allows aggregation

In [91]:
pivot_df = melted.pivot(
    index="Day",
    columns="Store",
    values="Sales"
)

print(pivot_df)

Store  Sales_A  Sales_B
Day
Mon        100       90
Tue        120      110
Wed        130      140

 ### Pivot with Another Example

In [92]:
df2 = pd.DataFrame({
    "student_name": ["Amit", "Amit", "Riya", "Riya"],
    "days": ["Mon", "Tue", "Mon", "Tue"],
    "marks": [80, 85, 90, 95]
})

pivot_marks = df2.pivot(
    index="days",
    columns="student_name",
    values="marks"
)

print(pivot_marks)

student_name  Amit  Riya
days
Mon             80    90
Tue             85    95

 ### Pivot Table (Aggregation Allowed)

In [93]:
pivot_table = pd.pivot_table(
    df2,
    index="student_name",
    columns="days",
    values="marks",
    aggfunc="mean"
)

print(pivot_table)

days           Mon   Tue
student_name
Amit          80.0  85.0
Riya          90.0  95.0

 # 3.11 Merge & Concat

In [95]:
df1 = pd.DataFrame({
    "A": [1, 2, 3],
    "B": [11, 12, 13]
})

df2 = pd.DataFrame({
    "A": [1, 2, 3, 4],
    "C": [21, 22, 23, 24]
})

 ### Merge
 In pandas, `merge()` is used for database-style joining on common columns or indices.
  - `merge()` → SQL-style joins

In [104]:
#Inner Merge (Default)
inn = pd.merge(df1, df2, on="A")
print("\nInner Merge\n", inn)

#Left Merge
lft = pd.merge(df1, df2, on="A", how="left")
print("\nLeft Merge\n", lft)

# Right Merge
rgt = pd.merge(df1, df2, on="A", how="right")
print("\nRight Merge\n", rgt)

# Outer Merge
ot = pd.merge(df1, df2, on="A", how="outer")
print("\nOuter Merge\n", ot)

# Outer Merge with Indicator
oti = pd.merge(df1, df2, on="A", how="outer", indicator=True)
print("\nOuter Merge with Indicator\n", oti)

# Merge Using Index
otIdx = pd.merge(df1, df2, left_index=True, right_index=True)
print("\nMerge Using Index\n", otIdx)

# Merge with Suffixes
suff = pd.merge(df1, df2, on="A", suffixes=("_left", "_right"))
print("\nMerge with Suffixes\n", suff)

Inner Merge
    A   B   C
0  1  11  21
1  2  12  22
2  3  13  23

Left Merge
    A   B   C
0  1  11  21
1  2  12  22
2  3  13  23

Right Merge
    A     B   C
0  1  11.0  21
1  2  12.0  22
2  3  13.0  23
3  4   NaN  24

Outer Merge
    A     B   C
0  1  11.0  21
1  2  12.0  22
2  3  13.0  23
3  4   NaN  24

Outer Merge with Indicator
    A     B   C      _merge
0  1  11.0  21        both
1  2  12.0  22        both
2  3  13.0  23        both
3  4   NaN  24  right_only

Merge Using Index
    A_x   B  A_y   C
0    1  11    1  21
1    2  12    2  22
2    3  13    3  23

Merge with Suffixes
    A   B   C
0  1  11  21
1  2  12  22
2  3  13  23

 ### Concat Operations
 `concat()` is used for stacking or appending DataFrames along an axis (rows or columns). 
  - `concat()` → Stack or combine data

In [106]:
# Series Concatenation
s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([11, 21, 31, 41])
sr = pd.concat([s1, s2])
print("\nSeries Concatenation\n", sr)

#DataFrame Row-wise Concat
rw = pd.concat([df1, df2])
print("\nDataFrame Row-wise Concat\n", rw)

#Column-wise Concat
cw = pd.concat([df1, df2], axis=1)
print("\nColumn-wise Concat\n", cw)

#Join Types in Concat
ot = pd.concat([df1, df2], join="outer")   # Union
print("\nOuter Join Concat\n", ot)

inn = pd.concat([df1, df2], join="inner")   # Intersection
print("\nInner Join Concat\n", inn)

#Using Keys
k = pd.concat([df1, df2], keys=["df1", "df2"])
print("\nUsing Keys\n", k)

Series Concatenation
 0     1
1     2
2     3
3     4
0    11
1    21
2    31
3    41
dtype: int64

DataFrame Row-wise Concat
    A     B     C
0  1  11.0   NaN
1  2  12.0   NaN
2  3  13.0   NaN
0  1   NaN  21.0
1  2   NaN  22.0
2  3   NaN  23.0
3  4   NaN  24.0

Column-wise Concat
      A     B  A   C
0  1.0  11.0  1  21
1  2.0  12.0  2  22
2  3.0  13.0  3  23
3  NaN   NaN  4  24

Outer Join Concat
    A     B     C
0  1  11.0   NaN
1  2  12.0   NaN
2  3  13.0   NaN
0  1   NaN  21.0
1  2   NaN  22.0
2  3   NaN  23.0
3  4   NaN  24.0

Inner Join Concat
    A
0  1
1  2
2  3
0  1
1  2
2  3
3  4

Using Keys
        A     B     C
df1 0  1  11.0   NaN
    1  2  12.0   NaN
    2  3  13.0   NaN
df2 0  1   NaN  21.0
    1  2   NaN  22.0
    2  3   NaN  23.0
    3  4   NaN  24.0