# 7.1 SQL Integration Using Python

Integrating **SQL** with Python for Data Analytics is a powerful approach that combines SQL's efficiency in **data retrieval** and **filtering** with Python's extensive libraries like Pandas, NumPy and Matplotlib for **advanced analysis**, **ML**, and **visualizations**. 

---

## Why Use SQL with Python?

### 1) Complementary Strengths
- SQL → Fast querying, joins, filtering, aggregation
- Python → Analysis, visualization, ML, automation

### 2) Streamlined Workflow
- Fetch data directly from databases
- Avoid manual CSV exports
- Work on **live / updated data**

### 3) Automation & Advanced Tasks
- Scheduled queries
- Automated reports
- Data pipelines
- ML workflows on database data

---

## Core Steps in SQL Integration Using Python

## 1) Environment Setup

You need:
- Python installed
- A Database System (MySQL / PostgreSQL / SQLite)
- Required Python librarieshj

## 2) Establish a Database Connection

To connect Python with a database, you need:
- Hostname
- Username
- Password
- Database name

Using **SQLAlchemy** provides a **uniform interface** regardless of SQL dialect.

## 3) Execute SQL Queries & Load Data into Pandas
After connecting, you can execute SQL queries and store results directly into a Pandas DataFrame.
 -  `pd.read_sql_query()`:
    - Executes SQL
    - Automatically converts results into a DataFrame

## 4) Data Analysis Using Python
Once data is in Pandas:
 - Perform EDA
 - Clean missing values
 - Create visualizations
 - Build ML models
   
## 5) Writing Data Back to the Database
You can also store processed data back into SQL tables using `df.to_sql`.

---

### Typical Use Cases
 - Reading transactional data for analysis
 - Automating reports from databases
 - Feature engineering on SQL data
 - ML pipelines using DB data
 - Dashboards and analytics backends

---

### Advantages of SQL + Python Integration
 - Efficient handling of large datasets
 - Reduced manual data handling
 - Scalable analytics pipelines
 - Easy automation
 - Industry-standard workflow

# 7.2 Connecting to a Database (DB) Using Python

Database connectivity allows Python programs to:

1. Store structured data
2. Query large datasets efficiently
3. Automate database operations

---

## 7.2.1 Using SQLite with Python

Connecting to an SQLite database using Python's built-in SQLite3 module for data analysis is a straightforward process involving opening a connection, creating a cursor object, executing SQL queries, fetching results and closing the connection.

SQLite is ideal for:
- Small to medium applications
- Prototyping
- Data analysis tasks
- Local storage without a server

## Steps to Connect to SQLite Database

### Step 1: Import Required Modules
 - `sqlite3` → built-in Python module for SQLite
 - `pandas` → used for data analysis

In [1]:
import sqlite3
import pandas as pd

### Step 2: Establish a Connection
 - Use sqlite3.connect() to establish a connection to your database file. 
 - If the specified database file does not exist, Python will create it automatically.
 - `conn` represents the active database connection

In [2]:
conn = sqlite3.connect("my_database.db")

### Step 3: Create a Cursor Object
 - Cursor is used to execute SQL commands
 - It acts as a bridge between Python and the database

In [3]:
cursor = conn.cursor()

### Step 4: Execute SQL Queries & Analyze Data
We can now use the cursor to create tables, insert data and query data for analysis.

#### A) Creating a Table & Inserting Data

In [4]:
cursor.execute("""
CREATE TABLE IF NOT EXISTS stocks (
    id INTEGER PRIMARY KEY,
    date TEXT,
    action TEXT,
    symbol TEXT,
    quantity INTEGER,
    price REAL
)
""")

##### Insert Records

In [5]:
cursor.execute("""
INSERT INTO stocks VALUES (
    NULL, '2025-12-17', 'BUY', 'AAPL', 100, 175.00
)
""")

cursor.execute("""
INSERT INTO stocks VALUES (
    NULL, '2025-12-16', 'SELL', 'GOOG', 50, 140.60
)
""")

conn.commit() #commit() saves changes permanently to the database

#### B) Querying Data for Analysis
 - Use `cursor.execute()` for the query and then use `cursor.fetchone()`, `cursor.fetchmany()` or `cursor.fetchall()` to retrieve the results.
 - Cursor fetch methods:
    - `fetchone()` → fetches one row
    - `fetchmany(n)` → fetches n rows
    - `fetchall()` → fetches all rows

In [6]:
cursor.execute("SELECT * FROM stocks WHERE action = 'BUY'")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2025-12-17', 'BUY', 'AAPL', 100, 175.0)
(3, '2025-12-17', 'BUY', 'AAPL', 100, 175.0)

## Step 5: Using Pandas for Data Analysis
 - For robust data analysis, load SQL query results directly into a Pandas DataFrame.
 - `read_sql_query()` automatically:
    - Executes SQL
    - Fetches results
    - Converts them into a DataFrame

In [7]:
df = pd.read_sql_query("SELECT * FROM stocks", conn)

print(df.head())
print(df["price"].mean())

   id        date action symbol  quantity  price
0   1  2025-12-17    BUY   AAPL       100  175.0
1   2  2025-12-16   SELL   GOOG        50  140.6
2   3  2025-12-17    BUY   AAPL       100  175.0
3   4  2025-12-16   SELL   GOOG        50  140.6
157.8

### Step 6: Close the Connection
✔ Always close the connection to:
 - Free system resources
 - Avoid database locks
 - Ensure safe termination

In [8]:
conn.close()

#### Advantages of SQLite
 - Serverless & lightweight
 - Zero configuration
 - Fast for local applications
 - Easy integration with Python

---

#### When to Use SQLite
 - ✔ Small to medium applications
 - ✔ Local data analysis
 - ✔ Learning SQL + Python
 - ✔ Prototyping and testing

❌ Not suitable for high-concurrency, large-scale systems

## 7.2.2 Using SQLAlchemy in Python

To connect to a database using **SQLAlchemy** in Python, we need to install the library, install a **database specific driver** and then use SQLAlchemy's `create_engine` function to establish a connection.

It supports multiple databases such as:
- SQLite
- Oracle
- SQL Server
- MySql
- PostgreeSql

---

## Why Use SQLAlchemy?

- Works with **multiple databases**
- Clean, safe, and consistent syntax
- Supports both **SQL Core** and **ORM**
- Integrates seamlessly with **:contentReference[oaicite:3]{index=3}**
- Ideal for data analysis & production systems

## Steps to Connect to SQLite Database

### Step 1: Install Required Libraries
You will need the `SQLAlchemy` library and a database-specific driver library. Common drivers include `psycopg2` for PostgreSQL, `mysql-connector-python` or `PyMySQL` for MySQL, and `sqlite3` which comes built-in with Python for SQLite.

In [9]:
#pip install SQLAlchemy
# Install a specific driver, for example, for PostgreSQL:
%pip install psycopg2-binary
# For MySQL:
# pip install mysql-connector-python
# For SQLite no extra driver installation is needed.

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\chavi\appdata\roaming\python\python313\site-packages (2.9.11)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import psycopg2
print(psycopg2.__version__)

2.9.11 (dt dec pq3 ext lo64)

### Step 2: Create a Database Connection
The `create_engine()` function is the primary way to establish a connection.
It uses a URL format to specify the dialect, driver, username, password, host and database name.

**Import Libraries**

In [10]:
from sqlalchemy import create_engine
import pandas as pd

#### Database URL Format
dialect+driver://username:password@host:port/database
 - **PostgreSQL**: postgresql+psycopg2://user:password@localhost:5432/mydb
 - **MySQL**: mysql+mysqlconnector://user:password@localhost:3306/mydb
 - **SQLite**: sqlite:///my_database.db

**Create Engine**

In [14]:
from urllib.parse import quote_plus
from sqlalchemy import create_engine

db_user = "postgres"
db_password = quote_plus("Chavi@2303")  # <-- IMPORTANT
db_host = "localhost"
db_port = "5432"
db_name = "postgres"

DATABASE_URL = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"

engine = create_engine(DATABASE_URL)
print("Engine created successfully")

Engine created successfully

### Step 3: Establish Connection (Optional Test)

In [15]:
try:
    conn = engine.connect()
    print("Connection established")
except Exception as e:
    print(f"Error connecting to DB: {e}")

Connection established

### Step 4: Fetch Data for Analysis
Once connected, SQL queries can be executed and loaded directly into a Pandas DataFrame.

In [18]:
query = "SELECT * FROM sales_performance LIMIT 10"

df = pd.read_sql_query(query, engine)

print("Data loaded successfully")
print(df)

Data loaded successfully
       product_category  units_sold     revenue  revenue_share  \
0         Fresh Produce    125000.0  18750000.0           30.0
1        Packaged Goods     95000.0  14250000.0           23.0
2             Beverages     80000.0  12000000.0           19.0
3  Household Essentials     60000.0  10500000.0           17.0
4         Personal Care     50000.0   7500000.0           11.0
5                 Total    410000.0  63000000.0          100.0

   avg_price_per_unit
0               150.0
1               150.0
2               150.0
3               175.0
4               150.0
5                 0.0

#### Alternative (Recommended): Using Context Manager
This ensures automatic opening and closing of the connection.

In [19]:
query = "SELECT * FROM sales_performance LIMIT 10"

try:
    with engine.connect() as conn:
        df = pd.read_sql_query(query, conn)
        print(df.head())
except Exception as e:
    print(e)

       product_category  units_sold     revenue  revenue_share  \
0         Fresh Produce    125000.0  18750000.0           30.0
1        Packaged Goods     95000.0  14250000.0           23.0
2             Beverages     80000.0  12000000.0           19.0
3  Household Essentials     60000.0  10500000.0           17.0
4         Personal Care     50000.0   7500000.0           11.0

   avg_price_per_unit
0               150.0
1               150.0
2               150.0
3               175.0
4               150.0

#### Advantages of SQLAlchemy
 - Database-independent code
 - Cleaner & safer syntax
 - Built-in connection pooling
 - Works with raw SQL and ORM
 - Excellent for scalable data pipelines

---

#### When to Use SQLAlchemy
 - ✔ Multiple databases
 - ✔ Production-level systems
 - ✔ Pandas + SQL workflows
 - ✔ ORM-based applications

❌ Overkill for very small scripts (SQLite + sqlite3 may suffice)

# 7.3 Running SQL Queries from Python

Python can execute SQL queries to **retrieve, filter, join, and manipulate data** stored in relational databases.  
This is commonly done using database connectors (`sqlite3`, `psycopg2`, etc.) or higher-level tools

---

## Key Takeaways
 - Python can execute raw SQL queries directly
 - Use parameterized queries for security
 - Joins help combine related tables
 - SQLAlchemy offers cleaner, safer DB interaction
 - Pandas can be used on top of SQL for analysis

## 1) Selecting Data

### Basic SELECT Query

In [25]:
conn = sqlite3.connect("my_database.db")
cursor = conn.cursor()

cursor.execute("SELECT * FROM stocks")
rows = cursor.fetchall()

### Fetching Methods
 - `fetchone()` → Returns one row
 - `fetchmany(n)` → Returns n rows
 - `fetchall()` → Returns all rows

### Looping Through Rows

In [24]:
 for row in rows:
     print(row)

(1, '2025-12-17', 'BUY', 'AAPL', 100, 175.0)
(2, '2025-12-16', 'SELL', 'GOOG', 50, 140.6)
(3, '2025-12-17', 'BUY', 'AAPL', 100, 175.0)
(4, '2025-12-16', 'SELL', 'GOOG', 50, 140.6)

## 2) Filtering Data

### Using WHERE Clause

In [26]:
cursor.execute(
    "SELECT * FROM stocks WHERE action = 'BUY'"
)
rows = cursor.fetchall()

### Parameterized Queries (Recommended)
Why Parameterized Queries?
 - ✔ Prevents SQL Injection
 - ✔ Improves security
 - ✔ Makes queries cleaner and safer

In [27]:
cursor.execute(
    "SELECT * FROM stocks WHERE action = ?",
    ("BUY",)
)
rows = cursor.fetchall()

## 3) Joining Tables
Example Tables
 - employees (id, name, dept_id)
 - departments (id, dept_name)

In [28]:
import sqlite3

# Create an in-memory database (no file needed)
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

#employees table
cursor.execute("""
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    dept_id INTEGER
)
""")

#departments table
cursor.execute("""
CREATE TABLE departments (
    id INTEGER PRIMARY KEY,
    dept_name TEXT
)
""")

#Insert into departments
cursor.executemany("""
INSERT INTO departments (id, dept_name)
VALUES (?, ?)
""", [
    (1, "HR"),
    (2, "IT"),
    (3, "Finance")
])

#Insert into employees
cursor.executemany("""
INSERT INTO employees (id, name, dept_id)
VALUES (?, ?, ?)
""", [
    (101, "Alice", 1),
    (102, "Bob", 2),
    (103, "Charlie", 2),
    (104, "David", 3),
    (105, "Eva", None)
])

conn.commit()

### INNER JOIN
Returns only rows with matching values in both tables.

In [31]:
query = """SELECT employees.name, departments.dept_name
FROM employees
INNER JOIN departments
ON employees.dept_id = departments.id""";

In [33]:
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Alice', 'HR')
('Bob', 'IT')
('Charlie', 'IT')
('David', 'Finance')

### LEFT JOIN
Returns all rows from the left table and matching rows from the right table.

In [34]:
query = """SELECT employees.name, departments.dept_name
FROM employees
LEFT JOIN departments
ON employees.dept_id = departments.id""";

In [35]:
cursor.execute(query)
rows = cursor.fetchall()

for row in rows:
    print(row)

('Alice', 'HR')
('Bob', 'IT')
('Charlie', 'IT')
('David', 'Finance')
('Eva', None)

## 4) Joining Tables Using SQLAlchemy

In [37]:
# query = """
# SELECT e.name, d.dept_name
# FROM employees e
# JOIN departments d
# ON e.dept_id = d.id
# """

# with engine.connect() as conn:
#     result = conn.execute(query)
#     for row in result:
#         print(row)

# 7.4 Loading SQL Query Results into Pandas
Pandas allows SQL results to be analyzed using DataFrame. 
## 1). Using `pd.read_sql` 
df = pd.read_sql(query,conn) 
## 2). Using parameterized query 
query = "SELECT * FROM employees where salary > ?" 
df = pd.read_sql(query,con,params = (40000,))
## 3). Benefits of Pandas Integration 
 - Easy Filtering
 - Fast Aggregation
 - Visualization Support
 - Export to Excel/CSV